{% extends "base.html" %}
{% block css %}
        .redirecting{
            margin-top: 45vh;
        }
{% endblock css %}
{% block container %}
    <div class="container">
        <h1 class="redirecting">Do not refresh the page......</h1>
        <p>Redirecting to HomePage</p>
        <p>Adding 1 to the Database.</p>
        <div class="text-center">
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <form action="adding" method="post" name="form">{% csrf_token %} 
            <input type="hidden" name="{{scanned.num}}" value="{{scanned.num}}">
        </form>
    </div>
{% endblock container %}
{% block js %}
document.form.submit()
{% endblock js %}
